@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0c1124;
  scroll-behavior: smooth;
  color: rgba(255, 255, 255, 0.698);
}
@layer base {
  body {
    background: url("../../public/bg.jpeg") no-repeat center center/cover fixed;
  }
}

@layer components {
  .maxW {
    @apply max-w-7xl px-2 md:px-10 mx-auto;
  }
  .mBTN {
    position: relative;
    transition: 0.5s ease-in-out;
    z-index: 1;
  }

  .mBTN::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #059669;
    transition: 0.5s ease-in-out;
    clip-path: circle(0% at 50% 50%);
    z-index: -1;
    border-radius: 0.5rem;
  }

  .mBTN:hover::before {
    clip-path: circle(100% at 50% 50%);
  }

  .cardBG {
    border: 1px solid rgba(215, 209, 255, 0.208) !important;
    background-color: hsla(0, 0%, 100%, 0.15) !important;
  }

  .titleN span {
    font-weight: 900;
    display: inline-block;
    background-clip: text;
    transition: 1.2s all linear;
    text-transform: uppercase;
  }
  .titleN span:hover {
    font-weight: 300;
    transition: 250ms all linear;
  }

  /* hero hand animation */
  .wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
  }
  @keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }

    10% {
      transform: rotate(14deg);
    }
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  /* Loader  css */
  .loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #FFF;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-left: 4px solid #FF3D00;
    border-bottom: 4px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
}
