@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0c1124;
  scroll-behavior: smooth;
  color: rgba(255, 255, 255, 0.698);
}
@layer base {
  body {
    background: url("../../public/bg.jpeg") no-repeat center center/cover fixed;
  }
}

@layer components {
  .maxW {
    @apply max-w-7xl px-2 md:px-10 mx-auto;
  }
  .mBTN {
    position: relative;
    transition: 0.5s ease-in-out;
    z-index: 1;
  }

  .mBTN::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #059669;
    transition: 0.5s ease-in-out;
    clip-path: circle(0% at 50% 50%);
    z-index: -1;
    border-radius: 0.5rem;
  }

  .mBTN:hover::before {
    clip-path: circle(100% at 50% 50%);
  }

  .cardBG {
    border: 1px solid rgba(215, 209, 255, 0.208) !important;
    background-color: hsla(0, 0%, 100%, 0.15) !important;
  }

  .titleN span {
    font-size: 4rem;
    font-weight: 900;
    display: inline-block;
    background-clip: text;
    transition: 1.2s all linear;
    text-transform: uppercase;
  }
  .titleN span:hover {
    font-weight: 300;
    transition: 250ms all linear;
  }
}
